.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  padding: 16rem 8rem;
  max-width: 100%;
  margin: 0 auto;
  background: linear-gradient(#041668 50%, #000 100%);

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 4rem 2rem;
    gap: 2rem;
  }
}

.heroText h1 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 1rem;
  color: #e1e1e6;
}

.heroText span {
    color: #e1e1e6;
    font-style: italic;
    font-size: 1.25rem;
}

.heroText p{
    font-size: 1.125rem;
    color: #c4c4cc;
    margin-bottom: 2rem;
    max-width: 500px;
}



.socialLinks {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.btnLinkedin,
.btnGithub {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0077b5; /* LinkedIn blue */
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btnGithub {
  background-color: #333; /* GitHub black */
}

.btnLinkedin:hover {
  background-color: #005582;
}

.btnGithub:hover {
  background-color: #000;
}

.heroImage img {
  width: 350px;
  height: 200px;
  border-radius: 10%;
  border: 4px solid #00875f;
  object-fit: cover;
}
