.header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #323238;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.header span {
    font-weight: bold;
    font-size: 1.5rem;
    color: #323238;
}

.header nav a {
    color: #041688;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1rem;
    transition: color 0.2s;
}

.header nav a:hover {
    color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    background-color: #041688;
}


.logo {
    height: 80px;
    width: auto;
}