.footer {
  background-color: #041668;
  padding: 2rem;
  text-align: center;
  color: #c4c4c4;
  font-size: 0.8rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.btnWhatsApp {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.2s;
  width: 60px;
  height: 60px;
}

.btnWhatsApp:hover {
  transform: scale(1.1);
}



