.projetosContainer {
    background: linear-gradient(360deg, #000000 0%, #041668 100%);
    padding: 4rem 2rem;
}

.projetosContainer h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #e1e1e6;
}

.projetosContent{
    border: 2px dashed #323238;
    border-radius: 8px;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #7c7c8a;
}

projetosContent p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}