.contatoContainer {
    background: linear-gradient(180deg, #000000 0%, #041668 100%);
    padding: 4rem 2rem;
    color: #ffffff;
}

.contatoContent {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.contatoContent h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.contatoContent p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    color: #c4c4cc;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.form input,
.form textarea {
    width: 100%;
    background: #ffffff;
    border: 1px solid #323238;
    padding: 1rem;
    border-radius: 8px;
    color: #000000;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
    font-family: 'Roboto', sans-serif;
}

.form textarea {
    height: 150px;
    resize: vertical;
}

.form input:focus,
.form textarea:focus {
    border-color: #00b37e;
}

.form button {
    padding: 0.5rem;
    background: #00875f;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background 0.2s;    
    width: 100%;
}

.form button:hover {
    background: #00b37e;
}