:root {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #121214;
  color: #ffffff;
  margin: 0;  
  padding: 0;
  padding-top: 80px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}